<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hs.myapplicationkotlin">

    <application
        android:name="com.hs.myapplicationkotlin.SettingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Transparent">
        <activity
            android:name="com.hs.myapplicationkotlin.TestActivity"
            android:exported="false" />
        <activity
            android:name="com.hs.myapplicationkotlin.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="myapp"
                    android:host="home" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.startup"
            android:exported="false"
            tools:replace="android:authorities">
            <meta-data
                android:name="com.hs.myapplicationkotlin.startup.SumAppHelperInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>